<!DOCTYPE html>
<html>
<head lang="en">
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Facebook share tags -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:url" content="{{originalUrl}}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="fb:app_id" content="">

    <!-- Twitter share tags -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="">
    <meta name="twitter:url" content="{{originalUrl}}">

    <link rel="canonical" href="{{originalUrl}}"><% if (hasBootstrap) { %>
    <link rel="stylesheet" type="text/css" media="all" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"><% } %>
    <link rel="stylesheet" type="text/css" media="all" href="/css/app.css">
    <!--[if lt IE 9]><script src="/js/lib/respond.js"></script><![endif]-->
</head>
<body><% if (hasDeezer) { %>
<div id="dz-root"></div><% } %>
<div role="main">
    {{{body}}}
</div>
<!--[if lt IE 9]><script src="/js/lib/es5shim.js"></script><![endif]-->
<!--[if lt IE 9]><script src="/js/lib/es5sham.js"></script><![endif]--><% if (hasDeezer) { %>
<script src="http://cdns-files.deezer.com/js/min/dz.js"></script><% } %>
<script src="/js/vendors.js"></script>
<script src="/js/app.js"></script>
</body>
</html>